.footer-section {
    padding: 140px 0 60px 0;

    background: linear-gradient(177deg, rgba(223, 223, 223, 1) 0%, rgba(223, 223, 223, 1) 25%, rgba(37, 37, 37, 1) 25.25%, rgba(37, 37, 37, 1) 100%);

    &-content {

        &-social {
            display: flex;
            justify-content: space-between;
            align-items: center;

            max-width: 100px;

            margin: 0 auto 60px auto;

            &-vk,
            &-github,
            &-post {
                
                &__icon {
                    width: 24px;
                    height: 24px;
                }
            }

            &-vk {

                &__icon {

                    &:hover {

                        path {
                            fill: $vk-color;
                        }
                    }
                }
            }

            &-github {

                &__icon {

                    &:hover {

                        path {
                            fill: $github-color;
                        }
                    }
                }
            }

            &-post {

                &__icon {

                    &:hover {

                        polygon {
                            fill: $post-color;
                        }
    
                        path {
                            fill: $post-color;
                        }
                    }
                }
            }
        }

        &-rights {
            font-weight: 600;
            text-align: center;

            color: $description-color;
        }
    }
}