.header-section {
    background: url(../img/header-bg.png) no-repeat top center / cover;

    &-nav {
        display: flex;
        justify-content: flex-end;

        padding: 40px 0;

        &-list {
            transition: all .5s ease-in-out;

            &__item {
                margin: 0 10px;
            }

            &__link {
                font-size: 16px;
                font-weight: 800;
                line-height: 4.1;
                text-transform: uppercase;

                padding: 10px;

                border-radius: 4px;

                transition: all .5s ease-in-out;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        .active {
            right: 0;
        }

        &-btn {
            position: absolute;
            top: 40px;
            right: 40px;

            cursor: pointer;

            &__icon {
                width: 20px;
                height: 20px;
            }
        }

        &-menu {
            cursor: pointer;

            &__line {
                display: block;

                width: 20px;
                height: 3px;

                margin: 3px 0;

                transition: all .25s;

                background-color: $title-color;
            }
        }
    }

    &-content {
        padding: 80px 0 40px 0;

        &__name {
            line-height: 1.2;
            
            margin-bottom: 20px;

            animation: header-name-animation 2s;
            animation-delay: 1s;

            color: $title-color;
        }

        &__position {
            font-size: 18px;
            font-weight: 300;

            padding-bottom: 400px;

            animation: header-position-animation 2s;
            animation-delay: 1s;

            color: $header-description-color;
        }

        &__name,
        &__position {
            text-align: center;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            transform: translateX(-50%);

            width: 40px;
            height: 40px;
            
            margin: 0 auto;
    
            border-radius: 50%;

            cursor: pointer;

            transition: box-shadow .5s ease-in-out;

            animation: button-move-animation 3s linear infinite;
    
            background-color: #fff;

            &:hover {
                box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.75);
            }

            &__link {
                display: flex;
            }
    
            &__icon {
                width: 15px;
                height: 15px;
            }
        }
    }

    .btn-scroll-up {
        position: fixed;
        bottom: 40px;
        right: 40px;

        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

        z-index: 500;

        transition: all .5s ease-in-out;

        display: none;

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;
    
            border-radius: 4px;
    
            background-color: #fff;
        }

        &__icon {
            width: 15px;
            height: 15px;
        }
    }
}