@keyframes sk-circle-bounce-delay {
    0%, 80%, 100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

@keyframes header-name-animation {
    0% {
        margin-bottom: -40px;

        color: transparent;
    }

    50% {
        margin-bottom: -40px;
    }
}

@keyframes header-position-animation {
    0%, 50% {
        color: transparent;
    }
}

@keyframes button-move-animation {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes modal-animation {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}