.portfolio-section {
    position: relative;

    padding: 70px 0;

    background-color: $portfolio-section-color;

    &-header {
        text-align: center;

        &__title {
            margin-bottom: 40px;
        }

        &__line {
            margin: 0 auto 40px auto;
        }

        &__description {
            font-size: 16px;
            font-weight: 300;

            margin-bottom: 60px;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &-block {
            position: relative;

            &:hover {

                .portfolio-section-content-block__image {
                    filter: brightness(50%);
                }

                .portfolio-section-content-block-icon {
                    display: block;
                }
            }

            &__image {
                max-width: 100%;
                height: 270px;

                object-fit: cover;

                cursor: pointer;

                transition: filter .5s ease-in-out;
            }

            &-icon {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                display: none;

                &__link {
                    width: 100%;
                    height: 100%;
                }
                
                &__icon {
                    width: 40px;
                    height: 40px;

                    path {
                        transition: fill .25s ease-in-out;
                    }

                    &:hover {

                        path {
                            fill: $icon-color;
                        }
                    }
                }
            }
        }
    }

    &-modal {
        display: none;
        
        position: fixed;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        max-width: 570px;
        height: auto;

        padding: 40px;

        z-index: 150;

        background-color: #f5eee0;

        &-btn-close {
            position: absolute;
            top: 30px;
            right: 20px;

            cursor: pointer;

            width: 40px;
            height: 40px;

            &__icon {
                width: 20px;
                height: 20px;
            }
        }

        &__title {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        &__description {
            margin-bottom: 20px;
        }

        &-list {
            margin: 0 0 20px 20px;

            &__item {
                list-style-type: disc;

                font-family: 'Montserrat';
                font-weight: 300;
                line-height: 1.2;
                text-transform: uppercase;
            }
        }

        &-btn {
            width: 120px;
            height: 40px;

            margin: 0 auto;

            font-family: 'Montserrat';
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;

            border: none;
            outline: none;

            cursor: pointer;

            transition: box-shadow .25s ease-in-out;

            background-color: $brand-color;
            color: #fff;

            &:hover {
                box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
            }
        }
    }

    .active {
        display: block;
    }
}