.portfolio-section {
    position: relative;

    padding: 70px 0;

    background-color: $portfolio-section-color;

    &-header {
        text-align: center;

        &__title {
            margin-bottom: 40px;
        }

        &__line {
            margin: 0 auto 40px auto;
        }

        &__description {
            font-size: 16px;
            font-weight: 300;

            margin-bottom: 60px;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &-block {
            position: relative;

            &:hover {

                .portfolio-section-content-block__image {
                    filter: brightness(50%);
                }

                .portfolio-section-content-block-icon {
                    display: block;
                }
            }

            &__image {
                max-width: 100%;
                height: 270px;

                object-fit: cover;

                cursor: pointer;

                transition: filter .5s ease-in-out;
            }

            &-icon {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                display: none;

                &__link {
                    width: 100%;
                    height: 100%;
                }
                
                &__icon {
                    width: 40px;
                    height: 40px;

                    path {
                        transition: fill .25s ease-in-out;
                    }

                    &:hover {

                        path {
                            fill: $icon-color;
                        }
                    }
                }
            }
        }
    }

    &-modal {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;

        z-index: 10500;

        background-color: rgba(0, 0, 0, 0.75);

        &-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
    
            transform: translate(-50%, -50%);
    
            max-width: 570px;
    
            z-index: 150;

            animation: modal-animation 1s;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            padding: 20px 40px;
            margin-bottom: 20px;

            box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);

            background-color: #fff;

            &-btn-close {
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
    
                width: 40px;
                height: 40px;
    
                &__icon {
                    width: 20px;
                    height: 20px;
                }
            }
    
            &__title {
                font-size: 20px;
                line-height: 1.2;
                font-weight: 500;
            }
        }

        &-content {
            padding: 20px 40px;

            &__description {
                margin-bottom: 30px;
            }
    
            &-list {
                margin-left: 20px;
    
                &__item {
                    list-style-type: disc;

                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: uppercase;
                }
            }
        }

        &-footer {
            padding: 20px 40px;

            &-btn {
                width: 120px;
                height: 40px;
    
                margin: 0 auto;
    
                font-family: 'Montserrat';
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
    
                border: none;
                outline: none;
    
                cursor: pointer;
    
                transition: box-shadow .25s ease-in-out;
    
                background-color: $brand-color;
                color: #fff;
    
                &:hover {
                    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
                }
            }
        }
    }

    #creativia {

        .portfolio-section-modal-wrapper {
            background-color: $modal-creativia-bg-color;
        }
    }

    #bicycle {

        .portfolio-section-modal-wrapper {
            background-color: $modal-bicycle-bg-color;
        }
    }

    #waxom {

        .portfolio-section-modal-wrapper {
            background-color: $modal-waxom-bg-color;
        }
    }

    .active {
        display: block;
    }
}