$brand-color: #40546a;

$header-description-color: #8d8f8f;

$portfolio-section-color: #f6f6f6;
$contacts-section-color: #dfdfdf;
$footer-section-color: #252525;

$title-color: #4d4d4d;
$title-color-2: #171717;
$description-color: #787878;

$progress-color: #d8d8d8;

$icon-color: #c2a2c2;

$vk-color: #4c75a3;
$github-color: #6e5494;
$post-color: #bd2c00;